<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.trikwcc.Trabalho">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/square"
        android:roundIcon="@mipmap/round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabalho"
        tools:targetApi="31">

        <activity android:name=".CreditsScreen" android:exported="false"/>
        <activity android:name=".MainScreen" android:exported="false" />
        <activity android:name=".ConfigScreen" android:exported="false" />
        <activity android:name=".RegisterScreen" android:exported="false" />
        <activity android:name=".TrailControl" android:exported="false" />

        <activity android:name=".SplashScreen" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBG-dQU2tKMnN3lbY7ctLkFQ9al2oZCt3s" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
