<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:versionCode="1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_car_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_car_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabalho"
        tools:targetApi="31">

        <activity
            android:name=".tela_principal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sobre"
            android:exported="true"
            android:label="@string/credit_screen"
            />

        <activity
            android:name=".registrar_trilha"
            android:exported="true"
            android:label="@string/list_register"
            />

        <activity
            android:name=".gerenciar_trilha"
            android:exported="true"
            android:label="@string/list_manage"
            />

        <activity
            android:name=".configuracao"
            android:exported="true"
            android:label="@string/config_screen"
            />

    </application>

</manifest>
